	</div>
	<!-- DISABLED
	<footer>
		<hr />

		<?php 
		//NAME FUUUN
		$namen[0] = "Sterckx Jens";
		$namen[1] = "Moinil Wesley";
		$namen[2] = "Dauwe Jelle";

		//Mixen maaaaar
		shuffle($namen);
		?>

		<p><center>Plug & Protect<br /><?php
		echo $namen[0];
		echo " - ";
		echo $namen[1];
		echo " - ";
		echo $namen[2];
		?></center></p>
	</footer>
	-->
		<div class="side-menu" id="side-menu">
			<a href="home.php#"><span class="side-menu-titel">Modules</span></a>
			<ul class="side-nav side-menu-ul" id="side-nav">
				<!--<li><a href="home.php#">Overview</a></li>-->
				<!--<ul class="side-nav-sub">-->
				<?php 
					printSideModuleList($MySQL);
				?>
				<!--</ul>-->
			</ul>
			<a href="modulesettings.php"><span class="side-menu-titel">Settings</span></a>
			<!--<span class="side-menu-titel">Help</span>
			<ul class="side-nav side-menu-ul" id="side-nav2">
				<li><a>nummer1</a></li>
				<li><a>nummer2</a></li>
				<li><a>nummer3</a></li>
			</ul>-->
			
			<div id="timer">0</div>
			<ul style="padding-top: 100px; list-style-type: none;">
				<li>Jens Sterckx</li>
				<li>Wesley Moinil</li>
				<li>Jelle Dauwe</li>
			</ul>
		</div>
	<script>
		$(document).foundation();
	</script>
	
</body>
</html>
