<?php
$Query = "SELECT * FROM tbl_modules";
$result = $MySQL->query($Query);

echo "TIJDELIJKE TEST PAGINA OM WAARDES TE TESTE!!";

echo "<table border=1><caption><b><big><big><u>Modules</u></big></big></b></caption>";

if ($result->num_rows > 0) {
    // output data of each row
	echo "<tr><th>MAC</th><th>IP</th><th>HOSTNAME</th><th>STATUS</th><th>UPTIME</th><th>LAST_UPDATE</th></tr>";
    while($row = $result->fetch_assoc()) 
	{
		echo "<tr>";
        foreach($row as $key => $value)
		{
			echo "<td>";
			echo $value;			
			echo "</td>";
		}
		echo "</tr>";
    }
} else {
    echo "0 results";
}

echo "</table>";
echo "<br><br>";
?>
<center>
<b><u><big>Test Live Stream van module-jens</big></u></b><br />
<img src="//www.plugandprotect.eu/module-jens/live" alt="LIVE" />
</center>
<?php


echo "<br><br><br><br>";
echo $_SERVER["SERVER_ADDR"];

print_r($_SESSION);
?>