********************************************************************************************
*                                                                                          *
* DRILL TAPE SUMMARY REPORT                                                                *
*                                                                                          *
* C:\USERS\SIONOB\DOCUMENTS\PRODUCTS\RASPBERRY PI ADAPTER\LAYOUT\POE ADAPTER BOARD R2.MAX  *
* Fri Mar 07 09:59:11 2014                                                                 *
*                                                                                          *
********************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      11       200      100                                                                                 
T2       340      4        200      100                                                                                 
T3       401      4        200      100                                                                                 
T4       700      4        200      100                                                                                 
T5       945      2        200      100                                                                                 
T6       1100     2        200      100                                                                                 
T7       1250     3        200      100                                                                                 
T8       1320     4        200      100                                                                                 
