<div id="ModuleManager">
	<h1>{MODULE_DESCRIPTION} <a href="/modulesettings.php?MAC={MAC}" id="link_to_settings"><i class="fi-wrench"></i></a></h1>
	<div id="Offline" class="hidden">
		<h3>is offline...</h3>
	</div>
	<div class="xl-width row">
		<div id="Live" class="large-6 columns hidden" style="padding-left: 0px; padding-right: 10px;">
			<div class="panel">
				<span class="close_modul_panel" >&times;</span>
				<h3>Live Camera</h3>
				<div id="LiveCamStreams">
				</div>
			</div>
		</div>
		<div id="Rightbox" class="large-6 columns" style="padding-left: 10px; padding-right: 0px;">
			<div id="SensorLive" class="hidden panel">
				<span class="close_modul_panel" >&times;</span>
				<h3>Live Sensor data</h3>
				<div class="row">
					<table id="LiveSensorPlace" title="Updated every 5 seconds">
						<tr>
							<th>Sensor</th>
							<th>Value</th>
						</tr>
						<tr>
							<td colspan="2"><b>FETCHING DATA</b></td>
						</tr>
					</table>
				</div>
			</div>
			<div id="AlarmManage" class="hidden panel"> <!-- hidden -->
				<span class="close_modul_panel" >&times;</span>
				<h3>Alarm Management</h3>
				<div class="row">
					<p>Alarm is currently: <b><span id="AlarmStatus">FETCHING</span></b></p>
					<div id="alarmswitch" class="switch hidden">
						<input id="alarmswitchValue" type="checkbox">
						<label for="alarmswitchValue"></label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="xl-width row">
		<div id="Snapshots" class="hidden panel">
			<span class="close_modul_panel" >&times;</span>
			<h3>Camera Captures</h3>
			<p>[<input title="Begin afbeelding's interval" class="intervalsnap" type="number" id="MINV" value="1" />, <input title="Eind afbeelding's interval" class="intervalsnap" type="number" id="MAXV" value="50" />]
			</p>
			
			<div id="CameraSnapshots" class="row">
                  <ul class="clearing-thumbs small-block-grid-6" data-clearing>
				  </ul>
			</div>
		</div>
	</div>
	<div class="xl-width row">
		<div id="Sensor" class="hidden panel">
			<span class="close_modul_panel" >&times;</span>
			<h3>Sensor data</h3>
			<!-- DISABLED, FIXED VALUE OF <p>[<input title="Begin records's interval" class="intervalsnap" type="number" id="MINS" value="1" />, <input title="Eind records's interval" class="intervalsnap" type="number" id="MAXS" value="25" />]
			</p>-->
			<div id="SensorPlace" class="row">

			</div>
		</div>
	</div>
</div>
